@import "./variable.scss";

.toolbar {
    width: 100vw;
    height: $toolbar-height;
    display: flex;
    background-color: #fff;
    align-items: center;
    position: absolute;
    z-index: 10;
    box-shadow: 0 5px 5px #999;
    &__btn {
        background-color: #fff;
        border: 0;
        cursor: pointer;
        outline: none;
        width: 25px;
        height: 25px;
        margin: 0 15px;
    }
    &__icon {
        width: 25px;
        height: 25px;
    }
}
.undo {
    margin-left: auto;
}
.settingbar {
    width: 100vw;
    height: $toolbar-height;
    display: flex;
    background-color: #fff;
    align-items: center;
    position: absolute;
    top: $toolbar-height;
}
